#pond {
    exibição: flex;
  justify-content:flex-end
  }

  #pond {
    exibição: flex;
    justify-content: center;
    align-items: center;
  }
  
  #pond {
    exibição: flex;
    justify-content: center;
    align-items: center;
  }

  #pond {
    exibição: flex;
    justify-content: center;
    align-items: center;
  }

  #pond {
    exibição: flex;
    justify-content: center;
    align-items: center;
  }

  #pond {
    exibição: flex;
    justify-content: center;
    align-items: center;
  }